.sidebarList {
  margin-top: 5rem;
  margin-bottom: 5rem;
  list-style: none;
}

.sidebarListItem {
  color: var(--color-grey-dark-2);
  padding: 0.8rem 0;
}

.sidebarListLink {
  color: inherit;
  text-decoration: none;
}

.sidebarListLink__active {
  color: var(--color-grey-dark-1);
  font-weight: 500;
}

.sidebarListLink:hover {
  color: var(--color-grey-dark-1);
  font-weight: 600;
}

.sidebarListIcon {
  display: inline-block;
  width: 3rem;
}
