.sidebar {
  padding: 3vw 2.5rem;
  width: 25rem;
  position: fixed;
  left: 0;
  top: 8.5rem;
  transition: all 0.5s;
}

/* 850 / 16 = 53.125em */
@media screen and (max-width: 53.125em) {
  .sidebar {
    left: -100%;
    z-index: 1000;
    height: calc(100vh - 8.5rem);
    background-color: var(--color-white);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-bottom-right-radius: 2rem;
  }

  .sidebar__opened {
    left: 0;
  }
}
