.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileContainer {
  width: 80%;
  margin-top: 3rem;
  background-color: var(--color-white);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 6rem;
}

.profileIcon {
  width: 6rem;
  margin-bottom: 1rem;
}

.accountForm {
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--color-grey-light-4);
}

.passwordForm {
  padding-top: 3rem;
}

.heading {
  font-weight: 500;
  position: relative;
  margin-bottom: 4.5rem;
}

.heading::before {
  content: '';
  position: absolute;
  background: var(--color-yellowOrange-dark);
  width: 8rem;
  height: 0.3rem;
  border-radius: 0.5rem;
  bottom: -0.7rem;
  left: 0;
}

.buttonContainer {
  margin-top: 1.5rem;
  text-align: right;
}

.saveBtn {
  font-weight: 500;
}
