// -- vars
$bg-color: #34495e;
$default-size: 1em;
$label-font-size: calc($default-size / 4);
$label-font-size-redo: calc($default-size * 4);

// -- mixins
@mixin size($width, $height) {
  height: $height;
  width: $width;
}

@mixin draw-progress($progress) {
  .pie {
    .halfCircle {
      border-color: var(--current-color);
    }

    .leftSide {
      transform: rotate($progress * 3.6deg);
    }

    @if $progress <= 50 {
      .rightSide {
        display: none;
      }
    } @else {
      clip: rect(auto, auto, auto, auto);

      .rightSide {
        transform: rotate(180deg);
      }
    }
  }
}

.setSize {
  font-size: 10em;
}

.chartsContainer {
  --current-color: var(--color-blue);

  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.pieWrapper {
  @include size($default-size, $default-size);
  float: left;
  position: relative;

  &:nth-child(3n + 1) {
    clear: both;
  }

  .pie {
    @include size(100%, 100%);
    clip: rect(0, $default-size, $default-size, calc($default-size / 2));
    left: 0;
    position: absolute;
    top: 0;

    .halfCircle {
      @include size(100%, 100%);
      border: calc($default-size / 10) solid #3498db;
      border-radius: 50%;
      clip: rect(0, calc($default-size / 2), $default-size, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .label {
    background: $bg-color;
    border-radius: 50%;
    bottom: calc($label-font-size-redo / 10);
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: $label-font-size;
    left: calc($label-font-size-redo / 10);
    line-height: calc($label-font-size-redo * 0.7);
    position: absolute;
    right: calc($label-font-size-redo / 10);
    text-align: center;
    top: calc($label-font-size-redo / 10);

    .smaller {
      color: #bdc3c7;
      font-size: 0.45em;
      padding-bottom: 20px;
      vertical-align: super;
    }
  }

  .shadow {
    @include size(100%, 100%);
    border: calc($default-size / 10) solid #bdc3c7;
    border-radius: 50%;
  }

  @for $i from 0 through 100 {
    &.progress#{$i} {
      @include draw-progress($i);
    }
  }
}
