.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-grey-light-1);
  padding: 3rem 0;
}

.form {
  width: 50rem;
  padding: 5rem 4rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--color-white);
  border-top: 1rem solid var(--color-primary-dark);
}

.header {
  text-align: center;
}

.logo {
  width: 4rem;
}

.heading {
  font-weight: 500;
  margin-top: 1rem;
}

.classLinkBottom {
  margin-top: 2.5rem;
}

.classLinkBtn {
  font-weight: 500;
}
