.main {
  background-color: var(--color-grey-light-2);
  border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
  padding: 3vw 2vw;
}

.mainContainer {
  display: grid;
  grid-template-columns: 25rem auto max-content;
}
