.passwordForm {
  padding-top: 3rem;
}

.heading {
  font-weight: 500;
  position: relative;
  margin-bottom: 4.5rem;
}

.heading::before {
  content: '';
  position: absolute;
  background: var(--color-yellowOrange-dark);
  width: 8rem;
  height: 0.3rem;
  border-radius: 0.5rem;
  bottom: -0.7rem;
  left: 0;
}

.buttonContainer {
  margin-top: 1.5rem;
  text-align: right;
}

.saveBtn {
  font-weight: 500;
}
