.addClassCard {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.2s;
  background-color: var(--color-white);
  /* background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url('../../pages/Classroom/images/addClassBG.jpg');
  background-size: cover; */
  overflow: hidden;
}

.addClassCard:hover {
  transform: translateY(-1px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 10px;
  cursor: pointer;
}

.image {
  display: block;
  /* height: 90%; */
  width: 130%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  clip-path: polygon(0% 0%, 0% 100%, 100% 70%, 100% 0);
}

/* .icon {
  width: 40%;
} */

.text {
  /* color: var(--color-white); */
  font-size: 2.5rem;
  padding: 1rem 0;
  font-weight: 300;
  margin-top: -2rem;
}
