.subjectHeader {
  position: relative;
  padding-top: 35%;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.studentsCount {
  position: absolute;
  left: 2rem;
  top: 2rem;
  background-color: var(--color-white);
  opacity: 85%;
  padding: 0.5rem 1.2rem;
  border-radius: 1rem;
  box-shadow: var(--shadow-primary);
  z-index: 10;
  transition: 0.2s;
  cursor: pointer;
}

.studentsCount:hover {
  transform: translateY(-1px) scale(1.05);
}

.iconStudent {
  color: var(--color-yellow);
}

.headerImage {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.subjectInfo {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  z-index: 5;
  background-color: rgba(66, 66, 66, 0.5);
  color: var(--color-grey-light-2);
  padding: 0 1.5rem 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.subjectIcon {
  font-size: 3.5rem;
  margin-right: 1rem;
  transform: rotateZ(-10deg);
}

.subjectName {
  font-weight: 400;
  margin-bottom: -1rem;
}

.instructor {
  letter-spacing: 0.5px;
}
