.DayPicker {
  font-size: 1.5rem;
  font-family: var(--font-family);
  margin-top: 2rem;
  letter-spacing: 1px;
}

.DayPicker-Months {
  height: 31.5rem;
  justify-content: flex-start;
}

.DayPicker-Month {
  border-collapse: separate;
  border-spacing: 0.5rem;
}

.DayPicker-Day {
  padding: 0.1rem;
  border-radius: 25%;
  background-color: var(--color-grey-light-2);
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid transparent;
}

.DayPicker-Day:hover:not(.DayPicker-Day--outside),
.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  border: 2px solid var(--color-new-blue);
  background: var(--color-grey-light-2);
  cursor: pointer;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  border: 2px solid var(--color-new-blue);
  background: var(--color-grey-light-3_5);
  color: inherit;
  cursor: pointer;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  border: 2px solid var(--color-new-blue);
  background: var(--color-grey-light-3_5);
  color: inherit;
  cursor: pointer;
}

.DayPicker-Day--outside {
  background-color: transparent;
}

.DayPicker-Day--today,
.DayPicker--today:hover:not(.DayPicker-Day--outside),
.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day--today:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  color: var(--color-white) !important;
  background-color: var(--color-new-blue) !important;
  box-shadow: var(--shadow-secondary);
  letter-spacing: 1px;
  font-weight: normal;
}
